@import './variables.scss';

.banner {
  position: relative;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  margin-top: 20px;
  & img {
    display: inline-block;
    object-fit: cover;
    border-radius: inherit;
    width: inherit;
    height: inherit;
  }
  & .overlay {
    position: absolute;
    object-fit: cover;
    width: 100%;
    inset: 0;
    border-radius: inherit;
    background: rgba(00, 00, 00, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    & p {
      display: inline-block;
      color: $light-color;
      @include font500(48);
    }
  }
}
