.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  & img {
    display: block;
    object-fit: contain;
    height: 340px;
    border-radius: inherit;
  }
  & .overlay {
    position: absolute;
    object-fit: contain;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(00, 00, 00, 0.4),
      rgba(255, 255, 255, 0.2) 50%
    );
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    & p {
      display: inline-block;
      margin-left: 1em;
      color: white;
      inset: 0;
      font-weight: 500;
      font-size: 18px;
    }
  }
}
