@import './variables.scss';

.link {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  & .card {
    & img {
      display: block;
      object-fit: cover;
      height: 340px;
      width: 100%;
    }
    & .overlay {
      position: absolute;
      z-index: 1;
      inset: 0;
      background: linear-gradient(
        0deg,
        rgba(00, 00, 00, 0.4),
        rgba(255, 255, 255, 0.2) 50%
      );
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      & p {
        display: inline-block;
        margin-left: 10px;
        color: $light-color;
        inset: 0;
        @include font500(18);
      }
    }
  }
  @include devices(tablet) {
    & .card {
      & img {
        height: 255px;
      }
      & .overlay {
        & p {
          @include font500(18);
        }
      }
    }
  }
  @include devices(mobile) {
    & .card {
      & .overlay {
        & p {
          @include font500(18);
        }
      }
    }
  }
}
