@import './variables.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  & * {
    display: inline-block;
    color: $primary-color;
    margin: 0;
  }
  & .code {
    @include font700(288);
  }
  & .alert {
    @include font500(36);
  }
  & a {
    @include font500(18);
  }
}
