@import './variables.scss';

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  & * {
    display: inline-block;
    color: $primary-color;
    margin: 0;
  }
  & .code {
    font-size: 288px;
    font-weight: 700;
  }
  & .alert {
    font-size: 36px;
    font-weight: 500;
  }
  & a {
    font-size: 18px;
    font-weight: 500;
  }
}
