@import './variables.scss';

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 209px;
  width: 100%;
  margin-top: 30px;
  background-color: $dark-color;
  & img {
    display: inline-block;
    height: auto;
    width: 122px;
  }
  & p {
    @include font500(24);
    color: $light-color;
    margin: 10px 0 0 0;
  }
}
@include devices(tablet) {
  .footer {
    margin-top: 20px;
    & p {
      @include font500(16);
    }
  }
}
@include devices(mobile) {
  .footer {
    height: 300px;
    & p {
      @include font500(12);
      width: 100px;
    }
  }
}
