@import './variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  & img {
    display: inline-block;
  }
  & div {
    & a {
      @include font500(24);
      color: $primary-color;
      margin-left: 57px;
    }
  }
}
