.home {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  & .apartments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: #f6f6f6;
    padding: 40px 30px;
    border-radius: 25px;
    margin-top: 20px;
  }
}
