@import './variables.scss';

.infos {
  margin: 0 50px;
  .collapses {
    margin: 50px 100px;
  }
}
@include devices(tablet) {
  .infos {
    margin: 0 10px;
    .collapses {
      margin: 20px 20px 0 20px;
      padding: 0;
    }
  }
}
@include devices(mobile) {
  .infos {
    .collapses {
      margin: 20px 0 0 0;
      padding: 0;
    }
  }
}
