@import './variables.scss';

.slideshow {
  display: flex;
  // position: relative for positioning the navigation arrow and the position index text
  position: relative;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  & .pictures {
    display: block;
    object-fit: cover;
    height: 415px;
    width: 100%;
  }
  // position index text
  & .position {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    color: $light-color;
    @include font500(18);
  }
  // navigation arrows
  & .leftArrow {
    display: block;
    position: absolute;
    left: 20px;
    cursor: pointer;
  }
  & .rightArrow {
    display: block;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  @include devices(tablet) {
    & .pictures {
      height: 300px;
    }
    & .position {
      bottom: 10px;
      @include font500(16);
    }
    & .leftArrow {
      height: 40px;
      right: 15px;
    }
    & .rightArrow {
      height: 40px;
      right: 15px;
    }
  }
  @include devices(mobile) {
    & .pictures {
      height: 255px;
    }
    & .position {
      @include font500(14);
    }
    & .leftArrow {
      height: 20px;
      right: 10px;
    }
    & .rightArrow {
      height: 20px;
      right: 10px;
    }
  }
}
