@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$light-color: white;
$dark-color: black;
$font-family: 'Montserrat', sans-serif;

@mixin font400($size) {
  font-size: $size + px;
  font-weight: 500;
}

@mixin font500($size) {
  font-size: $size + px;
  font-weight: 500;
}

@mixin font700($size) {
  font-size: $size + px;
  font-weight: 500;
}
